html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.75;
    color: $color-body-font;
    background-color: $color-body;
    background-color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

h2 {
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    
}
a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

P {
    margin-top: 0;
    font-size: 18px;
}

.nolist {
    @include nolist;
}

#browser-warning {
    max-width: 1100px;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

#cookieChoiceInfo {
    background-color: rgba(black, .85) !important;
    color: white;
    padding: 12px !important;
    bottom: 0;
    top: auto !important;
    z-index: 9999;
    box-sizing: border-box;

    a {
        color: $color-primary;
    }
}

/* Only show the outdated browser message for browsers not supporting flex */
@supports (display: flex) {
  .browser-warning {
    display: none;
  }
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.logo-container {
    text-align: center;
    .logo {
        max-width: 400px;
        width: 100%;
    }
}


@media (min-width: $bp-medium) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .logo-container {
        text-align: left;
    }
}

.screen-reader-text {
    display: none;
}
