.button {
    @include button();
}

.btn {
    display: inline-block;
    padding: .5rem .75rem;
    
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    text-align: center;
    vertical-align: middle;
    
    color: #212529;
    background-color: transparent;
    border: 2px solid transparent;
    
    cursor: pointer;
    user-select: none;
    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn--primary {
    background-color: $color-white;
    border-color: $color-primary;
    color: $color-primary;
    border-radius: 25px;
    
    &:hover {
        text-decoration: none;
        background-color: #fff;
        color: #112B28;
    }
}
.btn--secondary {
    background-color: #efc61d;
    border-color: #fff;
    color: #fff;
}

.btn--primary,
.btn--secondary {
    padding: 0.75em 1.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.btn--fixed {
    @media (max-width: $bp-medium) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 0;
        z-index: 1000;
    }
}