.fluid-container,
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    padding: 10px 0;

    &.small {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    &.center {
        text-align: center;
    }
}

.container--flex {
    .main-content {
        @media (min-width: $bp-medium) {
            float: right;
            // margin-left: 17em;
            width: 68%;
            padding: 1em 1em 2em 0;
        }
        @media (min-width: $bp-large) {
            width: 76%;
            // margin-left: 22em;    
        }
    }
    .sidebar {
        position: sticky;
        top: 6em;
        z-index: 2;
        height: 100%;
        padding: 1em;
        overflow-y: scroll;
        @media (min-width: $bp-medium) {
            float: left;
            width: 18em;
            width: 32%;
        }
        @media (min-width: $bp-large) {
            // width: 23em;
            width: 24%;
        }
        background-color: #fff;
    }
}

@media (min-width: $bp-medium) {

    .flexbox {
        display: flex;
        .md-col-6 {
            width: 50%;
            margin-right: 0;
        }
        &--center {
            align-items: center;
            .col--text {
                width: 48%;
                padding-right: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .col--image {
                width: 52%;
                align-self: stretch;
            }
        }
        &--stretch {
            align-items: stretch;
            .col--text,
            .col--image {
                display: flex;
                flex-direction: column;
            }
            p {
                flex: 1 1 auto;
            }
        }
        &--reverse {
            padding-left: 0;
            .col--image {
                width: 50%;
                order: 1;
            }
            .col--text {
                order: 2;
                width: 50%;
                margin-right: 0;
                margin-left: 0;
                padding-right: 6%;
                padding-left: 6%;
            }
        }
        &--space {
            justify-content: space-between;
            .col--padding:first-child {
                flex: 1;
            }
            .col--padding:last-child {
                flex: 2;
            }
        }
        &--invert {
            .col--text {
                align-self: stretch;
                background-color: #191919;
                color: #fff;
            }
        }
    }
}