.footer {
    padding: 3em 0;
    background-color: #F5F5F5;
    color: #454545;
    .footer__wrapper {
        @media (min-width: $bp-medium) {
            display: flex;
        }
        h3 {
            margin-bottom: 1em;
            color: $color-primary;
        }
        p {
            margin-bottom: 0;
        }
        .brand {
            margin-bottom: 1em;
        }
    }
}
.footer__column {
    flex: 1;
    &:first-child {
        margin-right: 2em;
    }
    &:last-child {
        @media (min-width: 768px) {
            margin-left: 2em;
        }
    }
}
.footer__nav {
    @media (min-width: $bp-medium) {
        display: flex;
    }
    margin: 0;
    margin-top: 1em;
    padding: 0;
    list-style-type: none;
    li {
        margin-right: 2em;
    }
    a {
        text-transform: uppercase;
        color: $color-primary;
    }
}