.inputs {
    display: flex;
    flex-direction: column;
    .input {
        flex: 1;
        margin: 0 0 0.5em 0;
    }
    @media (min-width: 500px) {
        flex-direction: row;
        .input {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
    @media (min-width: $bp-medium) {
        flex-direction: column;
        .input {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}
.input {
    position: relative;
    &.focus {
        .input__label {
            display: none;
        }
    }
    &__label {
        display: block;
        margin-bottom: 0.5em;
        font-size: 0.8em;
        line-height: 1.3;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @media (max-width: $bp-medium) {
            // position: absolute;
            // top: 50%;
            // left: 1em;
            // transform: translateY(-50%);
            display: none;
        }
    }
    &__control {
        width: 100%;
        padding: 1em;
        text-transform: uppercase;
        appearance: none;
        height: 50px;
        border: 1px solid #333;
        &::placeholder {
            font-size: 0.8em;
            text-transform: uppercase;
            color: #999;
            @media (min-width: $bp-medium) {
                color: transparent;
            }
        }
        &:selected {
            color: red;
        }
    }
    &--text {
        .input__control {
            font-size: 0.9em;
        }
    }
    &--select {
        .input__control {
            font-size: 0.8em;
            background-color: #fff;
            color: #999;
            &.active {
                color: #333;
            }
        }
    }
}