.brand {
    width: 136px;
    flex: 1;
    @media (min-width: $bp-medium) {
        width: 272px;
    }
}
.grid--flex {
    margin-bottom: 6em;
    .column {
        flex: 1;
        background-color: #F5F5F5;
    }
    .column--image,
    .column--text {
        padding: 2em;
    }
    @media (min-width: $bp-medium) {
        display: flex;
        flex-direction: row;
        .column {
            flex: 1;
            margin-right: 8%;
        }
        .column--text {
            flex: 1 1 50%;
            margin-right: 0;
        }
        .column--image {
            flex: 2 1 50%;
        }
    }
}
.grid--reverse {
    @media (min-width: $bp-medium) {
        .column--text {
            margin-right: 8%;
        }
        .column--image {
            order: 2;
            margin-right: 0;
        }
    }
}


.page-heading {
    padding: 1em 0;
    font-weight: 400;
}

.text {
    &--narrow {
        @media (min-width: $bp-medium) {
            max-width: 50%;
        }
        margin: 0 auto;
        padding: 4em 0;    
    }
    &--center {
        text-align: center;
    }
}

.location-map {}

.hero {
    position: relative;
    margin: 0 auto;
    margin-bottom: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    @media (min-width: $bp-medium) {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    color: #fff;
    text-align: center;
    h1 {
        margin: 0.25em 0;
        font-size: 1.7em;
        @media (min-width: $bp-medium) {
            font-size: 72px;
        }
        font-weight: 300;
        line-height: 1.3;
        span {
            display: block;
            @media (min-width: $bp-medium) {
                display: none;
            }
        }
    }
    h2 {
        margin: 0;
        font-size: 1em;
        @media (min-width: $bp-medium) {
            font-size: 30px;
        }
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        margin: 1.5em 0 3em 0;
        font-size: 16px;
        @media (min-width: $bp-medium) {
            font-size: 24px;
        }
        line-height: 1.5;
    }
    @media (min-width: $bp-medium) {
        text-align: left;
    }
}
.hero__content {
    .grid {
        align-items: center;
    }
    .column--text {
        padding: 0;
    }
    .column--image {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 2em;
        padding: 0;
    }
    @media (min-width: $bp-medium) {
        .column--image {
            max-width: 100%;
            order: 2;
            flex: 2 1 46%;
            .gatsby-image-wrapper {
                max-width: 420px;
            }
        }
        .column--text {
            order: 1;
            margin-right: 8%;
            flex: 1 1 48%;
            padding-right: 0;
        }
    }
}