// Border Radius
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Grid Column
@mixin grid-column($span) {

    // Work out width
    $num-gutters: $columns - 1; // Gutters will always be 1 less then columns
    $gutter-space: $num-gutters * $gutter; // Finding total space taken up by gutters
    $remaining-space: 100 - $gutter-space; // Subtracting the total gutter space from 100(%)
    $column-width: $remaining-space / $columns; // Finding column width by dividing space left by number of columns
    $width: ($span) * $column-width + ($gutter * ($span - 1) );
    width: $width;

}

// Grid Container
@mixin grid-container() {

    &::after {
        clear: both;
        content: "";
        display: table;
    }

}

// Clearfix
@mixin clearfix() {
    @include grid-container(); }


// Border Style
@mixin border() {
    border-bottom: 1px solid #EEE;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

// Buttons

@mixin button() {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: $color-primary;
    padding: 10px 30px;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
    outline: 0;
    appearance: none;
    border: 0;
    transition: all .5s;

    &:hover {
        background-color: $color-secondary;
    }
}


// Flatten list elements
@mixin nolist() {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


// Inset border decoration for modules
@mixin inset-border {
    position: relative;
    &::after {
        position: absolute;
        top: 1em;
        left: 1em;
        right: 1em;
        bottom: 1em;
        content: '';
        z-index: -1;
        border: 1px solid #fff;
        
        @media (min-width: $bp-medium) {
            top: 1.5em;
            left: 1.5em;
            right: 1.5em;
            bottom: 1.5em;
        }
    }
}