.toggle {
    float: right;
    display: block;
}

.hamburger {
    &:focus {
        appearance: none;
        box-shadow: none;
        outline: none;
    }
}

.nav-wrapper {
    // transition: left .4s;
    // // border-right: 1px solid #DDD;
    // // position: fixed;
    // // left: -300px;
    // top: 0;
    // // height: 100vh;
    // margin: 0;
    // z-index: 999;
    // text-align: left;
    // font-size: 1em;
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    @media (min-width: $bp-medium) {
        // margin-left: 1em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 2rem;
        @media (min-width: $bp-medium) {
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            line-height: 1.3;
            a {
                position: relative;
                padding: 1em;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
                @media (min-width: $bp-medium) {
                    // padding-top: 1.5vw;
                    // padding-bottom: 1.5vw;
                    font-size: calc(2vw / 1.5);
                    color: $color-primary;
                }
                @media (min-width: $bp-large) {
                    // padding-top: 1.5rem;
                    // padding-bottom: 1.5rem;
                    font-size: 0.9rem;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0.75rem;
                    left: 1rem;
                    right: 1rem;
                    height: 1px;
                    transition: all 0.25s;
                }
                &:hover::after {
                    background-color: #fff;
                }
            }
            &:last-child {
                margin-right: -1rem;
            }

            &.active {
                a {

                }
            }
        }
    }

    &.isOpen {
        left: 0;
    }
}


.toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    z-index: 10;
    outline: none;
    border: 1px solid #333;
    border-radius: 50%;
    @media (min-width: $bp-medium) {
        display: none;
    }
    div {
        width: 26px;
        height: 1px;
        margin: 3px 0;
        background: #333;
        border-radius: 10px;
        transition: all 0.2s linear 0s;
        position: relative;
        transform-origin: 3px center;
        
        &:first-child {
            transform: rotate(0deg);
        }
        &:nth-child(2) {
            opacity: 1;
            transform: translateX(0px);
        }
        &:nth-child(3) {
            transform: rotate(0deg);
        }
    }
    
    &.is-active {
        div {
            background-color: #333;
        
            &:first-child {
                transform: rotate(45deg);
                margin-left: 4px;
            }
            &:nth-child(2) {
                opacity: 0;
                // transform: translateX(20px);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                margin-left: 4px;
            }
        }
    }
}

@media (min-width: $bp-medium) {

    .toggle {
        display: none;
    }

    .nav-wrapper {
        // transition: none;
        // box-shadow: none;
        // border-right: none;
        // // position: relative;
        // left: 0;
        // top: 0;
        // height: auto;
        // margin: 0;
        // width: auto;
        // z-index: none;
        // text-decoration: none;
        // text-align: right;

        ul {
            display: flex;
            li {
                background-color: rgba(255, 0, 0, 0.0);
                bottom: 0;
                border-bottom: 0px solid #dddddd;

                a {
                    cursor: pointer;
                    transition: all .5s;
                }

                &.active {
                    a {
                        color: $color-primary;
                    }
                }

                &:hover {
                    a {
                        color: $color-primary;
                    }
                }
            }
        }

    }

}

@media (min-width: $bp-large) {

}


.hamburger {
    width: 25px;
    height: 25px;
    background-color: #000;
}