.grid {
    @include grid-container();
}

[class*="col-"] {
    margin-right: $gutter;
    float: left;
    position: relative;
    box-sizing: border-box;

    &:last-child {
        margin-right: 0; }
}

.container-fluid {
    [class*="col-"] {
        margin-right: 0;
    }
}

.col-12 {
    @include grid-column(12); }

.col-6 {
    @include grid-column(6); }

.col-4 {
    @include grid-column(4); }
    
.col-2 {
    @include grid-column(2); }
    
.col-5 {
    @include grid-column(5); }

.col-8 {
    @include grid-column(8); }

.col-3 {
    @include grid-column(3); }

.col-9 {
    @include grid-column(9); }

// Loop through the $breakpoints map
// and get key => value.
@each $name, $size in $breakpoints {

    @media (min-width: $size) {

        .#{$name}-col-12 {
            @include grid-column(12); }

        .#{$name}-col-6 {
            @include grid-column(6); }

        .#{$name}-col-4 {
            @include grid-column(4); }
            
        .#{$name}-col-2 {
            @include grid-column(2); }
            
        .#{$name}-col-5 {
            @include grid-column(5); }

        .#{$name}-col-8 {
            @include grid-column(8); }

        .#{$name}-col-3 {
            @include grid-column(3); }

        .#{$name}-col-9 {
            @include grid-column(9); }

    }

}
