$bp-small: 420px;
$bp-medium: 768px;
$bp-large: 980px;
$bp-xl: 1200px;

$breakpoints: (
    'sm': $bp-small,
    'md': $bp-medium,
    'lg': $bp-large,
    'xl': $bp-xl
);

// Columns
$columns: 12;
$gutter: 4%;


$color-body: #FFF;
$color-primary: #009fff;
$color-secondary: #EEE;
$color-body-font: #727272;
$color-white: #fff;

$font-primary: Humanist, Helvetica, Arial, sans-serif;
